<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <main>
        <form class="form" action="/api/phishing" method="post">
            <h2 class="header"> Welcome to Malicious Url checkerer </h2>
            <div class="form_holder">
                <label for="link"> Enter a test url</label>
                <input type="text" name="link">
            </div>
            <button class="btn" type="submit"> Check For phishing </button>
        </form>
    </main>
    
</body>
</html>