<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="popup-container" id="popupContainer">
        <div class="popup" id="popup">
            <p> Are you sure you want to proceed? </p>
            <button onclick="clickYes()">Yes</button>
            <button onclick="clickNo()">No</button>
        </div>
    </div>

    <script>
        function clickYes() {
            // take user to the link
        }
        function clickNo() {
            // close the popup dialogue
        }

        async function showPopup() {
            try {
                const resp = await axios.get('/api')
                const data = resp.data
                
                const ppElem = document.getElementById('popup')
                ppElem.querySelector('p').textContent = data.message
                
                document.getElementById('popupContainer').classList.add('active')
                ppElem.classList.add('active')

            } catch (error) {
                console.log(error)
            }
        }
        function hidePopup() {
            document.getElementById('popupContainer').classList.remove('active')
            document.getElementById('popup').classList.remove('active')
        }
    </script>
</body>
</html>